.title, body, button, h1, h2, h3, h4, h5, h6, input, select, textarea {
  font-family: Georgia, serif;
}

.list-item-title > a {
  text-decoration: underline;
}

.list-item-title > a:hover {
  text-decoration: none;
}

code, kbd, samp {
  /* color: #ffcd00; */
  font-size: .8em;
}

td > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
li > code,
a > code,
p > code {
  color: #c31900;
}

pre {
  border-radius: .3em;
}
