/* iPad Landscape */
@media only screen and (max-width: 1024px) and (orientation:landscape) {
	.box {
    	/*width: 964px;*/
    }
}

/* iPad Portrait */
@media only screen and (max-width: 768px) and (orientation:portrait) {
	.box {
    	/*width: 708px;*/
    }

    #picture {
    	display: none;
    }

    .aside {
        margin-top: 20px;
    	width: 100%;
    }

    .articles {
    	width: 94%;
    }
}

/* iPhone Landscape */
@media only screen and (max-width: 480px) {
    .box {
    	/*width: 420px;*/
    }
    
    #picture {
    	display: none;
    }
    
    .twitter-does,
    .twitter-enjoys,
    .twitter-listens {
    	float: none;
    	width: 100%;
    }
    
    .twitter-enjoys {
    	border-top: 1px solid #C00;
    	padding-top: 1.5em;
    }
    
    .articles,
    .aside {
    	width: auto;
    }
    
    .aside {
    	margin-top: 20px;
    }
    
    .aside {
    	float: left;
    	display: box;
    	display: -moz-box;
    	display: -webkit-box;
    	box-orient: vertical;
    	-moz-box-orient: vertical;
    	-webkit-box-orient: vertical;
    }
    
    .aside .gists {
    	box-ordinal-group: 2;
    	-moz-box-ordinal-group: 2;
    	-webkit-box-ordinal-group: 2;
    }
    
    .aside .projects {
    	box-ordinal-group: 1;
    	-moz-box-ordinal-group: 1;
    	-webkit-box-ordinal-group: 1;
    }
    
    .aside .books {
    	box-ordinal-group: 3;
    	-moz-box-ordinal-group: 3;
    	-webkit-box-ordinal-group: 3;
    }
    
    .aside .twitterers {
    	box-ordinal-group: 4;
    	-moz-box-ordinal-group: 4;
    	-webkit-box-ordinal-group: 4;
    	margin-bottom: 1em;
    }
}

/* iPhone Portrait */
@media only screen and (max-width: 320px) {
	.box {
    	/*width: 260px;*/
    }
    
    .follow {
    	display: none;
    }
    
    .twitter-enjoys dd,
    .twitter-does dd,
    .twitter-listens dd {
        font-size: 75%;
    }
    
    .articles ul {
        font-size: 85%;
    }
    
    .aside {
    	float: left;
    	display: box;
    	display: -moz-box;
    	display: -webkit-box;
    	box-orient: vertical;
    	-moz-box-orient: vertical;
    	-webkit-box-orient: vertical;
    }
    
    .aside .gists {
    	box-ordinal-group: 2;
    	-moz-box-ordinal-group: 2;
    	-webkit-box-ordinal-group: 2;
    }
    
    .aside .projects {
    	box-ordinal-group: 1;
    	-moz-box-ordinal-group: 1;
    	-webkit-box-ordinal-group: 1;
    }
    
    .aside .books {
    	box-ordinal-group: 3;
    	-moz-box-ordinal-group: 3;
    	-webkit-box-ordinal-group: 3;
    }
    
    .aside .twitterers {
    	box-ordinal-group: 4;
    	-moz-box-ordinal-group: 4;
    	-webkit-box-ordinal-group: 4;
    	margin-bottom: 1em;
    }
}