@media only screen and (max-width: 1300px) {
    .box {
        width: 90%;
    }
    
    .aside {
        width: 100%;
    }
    
    .articles {
        margin-bottom: 1em;
        width: 96.3%;
    }
    
    #picture {
        float: right;
    }
    
    .intro {
        margin-left: 0;
    }
    
    .follow {
        display: none;
    }
}

@media only screen and (max-width: 1220px) {
    .intro {
        width: 60%;
    }
    
    .articles {
        width: 96.2%;
    }
}

@media only screen and (max-width: 1000px) {
    #picture {
        display: none;
    }
    
    .intro {
        width: 100%;
    }
    
    .articles {
        width: 95.4%;
    }
}

@media only screen and (max-width: 740px) {
    .articles {
        width: 93.5%;
    }
}

@media only screen and (max-width: 615px) {
    .articles {
        width: 92.4%;
    }
    
    .twitter-enjoys {
        margin-top: 1.5em;
    }
    
    .twitter-enjoys,
    .twitter-does,
    .twitter-listens {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 555px) {
    .articles {
        width: 91%;
    }
}

@media only screen and (max-width: 480px) {
    .articles {
        width: 89.5%;
    }
}